<ion-header>
  <ion-toolbar>
    <ion-title>Weather App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item class="search-bar">
          <ion-input
            placeholder="Enter City"
            [(ngModel)]="cityName"
          ></ion-input>
          <ion-button fill="clear" slot="end" (click)="searchCity()">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="errorMessage">
      <ion-col size="12" class="ion-text-center">
        <p style="color: red">{{ errorMessage }}</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="weatherData.main" class="weather-info">
      <ion-col size="12" class="ion-text-center">
        <h1 class="temp">{{ weatherData.main.temp }}°</h1>
        <img
          class="weather-icon"
          [src]="'http://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'"
        />
        <h2>{{ weatherData.name }}</h2>
        <p class="description">
          {{ weatherData.weather[0].description | titlecase }}
        </p>
        <p class="feels-like">
          {{ weatherData.main.temp_max }}° / {{ weatherData.main.temp_min }}°
          Feels like {{ weatherData.main.feels_like }}°
        </p>
        <p>{{ currentDate }}</p>
        <p class="additional-info">
          Humidity: {{ weatherData.main.humidity }}% | Wind: {{
          weatherData.wind.speed }} m/s
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
